{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row align-items-center center welcome">
    <div class="col-12">
      <h1>Welcome to Real Estate</h1>
    </div>
    <div class="col-12 padding-top">
        <button type="button" class="btn btn-book-evaluation btn-lg" data-bs-toggle="offcanvas"
        data-bs-target="#bookValuation" aria-controls="bookValuation"
        aria-label="Book a free Valuation" id="book-valuation">Book a free Valuation</button>
      </div>
</div>

<div>
    {% include 'includes/base-search-form.html' %}
</div>
{% endblock %}
