{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row align-items-center center welcome">
    <div class="col-12">
        <h1>Welcome to Real Estate</h1>
    </div>
    <div class="col-12 padding-top">
        <button type="button" class="btn btn-book-evaluation btn-lg" data-bs-toggle="offcanvas"
            data-bs-target="#bookValuation" aria-controls="bookValuation" aria-label="Book a free Valuation"
            id="book-valuation">Book a free Valuation</button>
    </div>
</div>

<div>
    {% include 'includes/base-search-form.html' %}
</div>

<section class="presentation mt-4 mr-0 pr-0 welcome-to-let-in">
    <div class="row mt-4 welcome-to-let-in">
        <div class="col-12 col-md-5 center pt-4 pb-4 welcome-to-let-in">
            <img class="keys rounded" src="{% static 'home/img/pexels-oleksandr-pidvalnyi-7599735.jpg' %}"
                loading="lazy" alt="Keys">
        </div>
        <div class="col mr-0 ml-0">
            <div class="row center mt-5 welcome-to-let-in">
                <div class="col-12 col-md-8 welcome-to-let-in">
                    <h2 class="white pt-4 welcome-to-let-in">Welcome to Let In Agency</h2>
                </div>
            </div>
            <div class="row center mt-5 welcome-to-let-in">
                <div class="col-12 col-md-8 welcome-to-let-in">
                    <p class="white welcome-to-let-in">We deliver a highly professional and efficient service. We are a local family run
                        business with over 25 years of knowledge and experience within the estate agency and
                        construction industry. We provide services all under one roof from residential sales and
                        lettings, part exchange and assisted moves for small development business's to building works
                        and construction contracts. Our aim is to provide a one to one personal property service to
                        those who want to succeed in a fast, successful solid manor.</p>
                </div>
            </div>
            <div class="row get-free-evaluation col-12 col-md-8 mt-4 d-flex justify-content-center align-items-center pt-3 pr-0 ml-0 mr-0">
                <div class="col-12 col-md-8 justify-content-center center mr-0 ml-0">
                    <h5 class="white">Get a free valuation on your home now!</h5>
                </div>
                <div class="col-12 col-md-4 text-right pt-4 pb-4 center mr-0 ml-0">
                    <button type="button" class="btn btn-primary value-button mr-0 ml-0">Value My Home</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mr-0 ml-0 mt-4 product-display">
    {% include 'includes/product-display-selector.html' %}
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}