:root {
    --primary-color-home: #feb012;
    --nav-background-home: rgba(0, 40, 64, 0.15);
    --primary-text-home: white;
    --forms-shadow-home: rgba(0, 40, 64, 0.7);
    --buttons-text-home: #120909;
    --total-transparent-home: rgba(0, 0, 0, 0);
    --box-shadows: 0 0 0 0.2rem rgba(254, 176, 18, 0.25);
}

.search-base {
    margin-top: 30vh;
    background-color: var(--forms-shadow-home);
    border-radius: 25px;
    border: 1px solid var(--primary-color-home);
}

.search-base p {
    color: var(--primary-text-home);
}

#pills-lettings-tab,
#pills-sales-tab,
#pills-holiday-lets-tab {
    background-color: var(--total-transparent-home);
    color: var(--primary-text-home);
}

#pills-lettings-tab:hover,
#pills-sales-tab:hover,
#pills-holiday-lets-tab:hover {
    border-bottom: 1px solid var(--primary-text-home);
    border-radius: 0px;
}

#pills-lettings-tab.active,
#pills-sales-tab.active,
#pills-holiday-lets-tab.active {
    border-bottom: 1px solid var(--primary-color-home);
    border-radius: 0px;
}

.submit {
    background-color: var(--primary-color-home);
    color: var(--buttons-text-home);
    border: none;
   
}

.submit:hover {
    background-color: var(--primary-color-home);
    color: var(--primary-text-home);
    box-shadow: var(--box-shadows);
    border: 1px solid var(--primary-text-home);
}

#sales-search-form input:focus,
#sales-search-form .form-select:focus,
#holliday-lets-search-form input:focus,
#holliday-lets-search-form .form-select:focus {
    border: 2px solid var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: var(--box-shadows)
}

.white {
    color: var(--primary-text-home);
}

#residential-radio:checked,
#commercial-radio:checked {
    background-color: var(--primary-color-home);
    border-color: var(--primary-color-home);
    box-shadow: var(--box-shadows);
}

.display-none {
    display: none;
}