<form class="row row-cols-lg-auto g-3 align-items-center  pt-3 pb-3 justify-content-center"
    id="commercia-llets-search-form" method="GET" action="{% url 'products' %}">

    <div class="col-12">
        <label class="visually-hidden" for="commerciaLletsPostcode">Town or Postcode</label>
        <div class="input-group">
            <input type="text" class="form-control" id="commerciaLletsPostcode" placeholder="Town or Postcode">
        </div>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="commerciaLletsType">Property Type</label>
        <select class="form-select" id="commerciaLletsType">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/commercial-type-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="commerciaLletsMin">£ Min</label>
        <select class="form-select" id="commerciaLletsMin">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/min-price-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="commerciaLletsMax">£ Max</label>
        <select class="form-select" id="commerciaLletsMax">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/max-price-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <a type="submit" class="btn  btn-primary submit col-12">SEARCH</a>
    </div>
</form>