<option selected value="any" disabled>Adults</option>
<option value="1">1 Adult</option>
<option value="2">2 Adults</option>
<option value="3">3 Adults</option>
<option value="4">4 Adults</option>
<option value="5">5 Adults</option>
<option value="6">6 Adults</option>
<option value="5">5 Adults</option>
<option value="6">6 Adults</option>
<option value="7">7 Adults</option>
<option value="8">8 Adults</option>
<option value="9">9 Adults</option>
<option value="10">10 Adults</option>
<option value="11">11 Adults</option>
<option value="12+">12+ Adults</option>