<option selected value="any" disabled>Children</option>
<option value="0">0 Children</option>
<option value="1">1 Child</option>
<option value="2">2 Children</option>
<option value="3">3 Children</option>
<option value="4">4 Children</option>
<option value="5">5 Children</option>
<option value="6">6 Children</option>
<option value="5">5 Children</option>
<option value="6">6 Children</option>
<option value="7">7 Children</option>
<option value="8">8 Children</option>
<option value="9">9 Children</option>
<option value="10">10 Children</option>
<option value="11">11 Children</option>
<option value="12+">12+ Children</option>