<form method="GET" action="{% url 'products' %}?category=holiday_lets" class="row row-cols-lg-auto g-3 align-items-center  pt-3 pb-3 justify-content-center"
    id="holliday-lets-search-form">

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormHolidayLetsPostcode">Town or Postcode</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormHolidayLetsPostcode" name="q" placeholder="Town or Postcode">
        </div>
    </div>

    <div class="col-12 col-lg-2">
        <label class="sr-only sr-only-focusable" for="inlineFormInputGroupCheckIn">Check-in</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupCheckIn" placeholder="Check-in" readonly>
        </div>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormInputGroupCheckOut">Check-out</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupCheckOut" placeholder="Check-out" readonly>
        </div>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormHolidayAdults">Adults</label>
        <select class="form-select" id="inlineFormHolidayAdults">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/holiday-lets-adults-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormHolidayChildren">Children</label>
        <select class="form-select" id="inlineFormSalesChildren">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/holiday-lets-children-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormHolidayRooms">Rooms</label>
        <select class="form-select" id="inlineFormHolidayRooms">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/holiday-lets-rooms-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <button type="submit" class="btn  btn-primary submit col-12">SEARCH</button>
    </div>
</form>