<option selected value="any" disabled>Rooms</option>
<option value="1">1 Room</option>
<option value="2">2 Rooms</option>
<option value="3">3 Rooms</option>
<option value="4">4 Rooms</option>
<option value="5">5 Rooms</option>
<option value="6">6 Rooms</option>
<option value="5">5 Rooms</option>
<option value="6">6 Rooms</option>
<option value="7">7 Rooms</option>
<option value="8">8 Rooms</option>
<option value="9">9 Rooms</option>
<option value="10">10 Rooms</option>
<option value="11">11 Rooms</option>
<option value="12+">12+ Rooms</option>