<div class="container col-md-10 pt-4 commercial-residential">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="commercial-residential-group" id="commercial-radio"
            value="commercial" checked>
        <label class="form-check-label white" for="commercial-radio">Commercial</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="commercial-residential-group" id="residential-radio"
            value="residential">
        <label class="form-check-label white" for="residential-radio">Residential</label>
    </div>
</div>

<div id="radio-form-commercial" class="">
    {% include 'includes/commercial-lets-form.html' %}
</div>

<div id="radio-form-residential" class="display-none">
    {% include 'includes/residential-lets-form.html' %}
</div>
