<option selected value="any" disabled>Min Beds</option>
<option value="any">Any</option>
<option value="1">1 Bed</option>
<option value="2">2 Beds</option>
<option value="3">3 Beds</option>
<option value="4">4 Beds</option>
<option value="5">5 Beds</option>
<option value="6">6 Beds</option>
<option value="5">5 Beds</option>
<option value="6">6 Beds</option>
<option value="7">7 Beds</option>
<option value="8">8 Beds</option>
<option value="9">9 Beds</option>
<option value="10">10 Beds</option>
<option value="11">11 Beds</option>
<option value="12+">12+ Beds</option>