<option selected value="any" disabled>Property Type</option>
<option value="any">Any</option>
<option value="Terraced House">Terraced House</option>
<option value="Semi-Detached House">Semi-Detached House</option>
<option value="Detached House">Detached House</option>
<option value="Town House">Town House</option>
<option value="Bungalow">Bungalow</option>
<option value="Flat">Flat</option>
<option value="Studio">Studio</option>
<option value="Apartment">Apartment</option>
<option value="Caravan">Caravan</option>