<form method="GET" action="{% url 'products' %}?category=sales" class="row row-cols-lg-auto g-3 align-items-center  pt-3 pb-3 justify-content-center" id="sales-search-form">

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="salesSearchPostcode">Town or Postcode</label>
        <div class="input-group">
            <input type="text" class="form-control" id="salesSearchPostcode" placeholder="Town or Postcode" name="q"> 
            <input type="hidden" name="category" value="sales">
            <input type="hidden" name="subcategory" value="residential_sales">
        </div>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormSalesType">Property Type</label>
        <select class="form-select" id="inlineFormSalesType" form="sales-search-form" name="q" >
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/property-type-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormSalesMin">£ Min</label>
        <select class="form-select" id="inlineFormSalesMin">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/min-price-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormSalesMax">£ Max</label>
        <select class="form-select" id="inlineFormSalesMax">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/max-price-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormSalesMinBeds">Min Beds</label>
        <select class="form-select" id="inlineFormSalesMinBeds">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/min-beds-options.html' %}
        </select>
    </div>

    <div class="col-12">
        <label class="sr-only sr-only-focusable" for="inlineFormSalesMaxBeds">Max Beds</label>
        <select class="form-select" id="inlineFormSalesMaxBeds">
            <!--As we need to reuse this options in multiple forms we choose to create include filles.-->
            {% include 'includes/max-beds-options.html' %}
        </select>
    </div>


    <div class="col-12">
        <input type="submit" class="btn  btn-primary submit col-12" value="SEARCH">
    </div>
</form>