<form class="row row-cols-lg-auto g-3 align-items-center  pt-3 pb-3 justify-content-center" id="sales-search-form">

    <div class="col-12">
      <label class="visually-hidden" for="inlineFormInputGroupPostcode">Area or Postcode</label>
      <div class="input-group">
        <input type="text" class="form-control" id="inlineFormInputGroupPostcode" placeholder="Area or Postcode">
      </div>
    </div>
  
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSalesType">Property Type</label>
      <select class="form-select" id="inlineFormSalesType">
        <option selected value="any">Property Type</option>
        <option value="any">Any</option>
        <option value="1">Terraced House</option>
        <option value="2">Semi-Detached House</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="inlineFormSalesMin">£ Min</label>
        <select class="form-select" id="inlineFormSalesMin">
          <option selected value="any">£ Min</option>
          <option value="any">Any</option>
          <option value="£50,000">£50,000</option>
          <option value="£60,000">£60,000</option>
          <option value="£70,000">£70,000</option>
        </select>
      </div>

      <div class="col-12">
        <label class="visually-hidden" for="inlineFormSalesMax">£ Max</label>
        <select class="form-select" id="inlineFormSalesMax">
          <option selected value="any">£ Max</option>
          <option value="any">Any</option>
          <option value="£50,000">£50,000</option>
          <option value="£60,000">£60,000</option>
          <option value="£70,000">£70,000</option>
        </select>
      </div>

      <div class="col-12">
        <label class="visually-hidden" for="inlineFormSalesMinBeds">£ Min Beds</label>
        <select class="form-select" id="inlineFormSalesMinBeds">
          <option selected value="any">£ Min Beds</option>
          <option value="any">Any</option>
          <option value="£50,000">£50,000</option>
          <option value="£60,000">£60,000</option>
          <option value="£70,000">£70,000</option>
        </select>
      </div>

      <div class="col-12">
        <label class="visually-hidden" for="inlineFormSalesMaxBeds">£ Max Beds</label>
        <select class="form-select" id="inlineFormSalesMaxBeds">
          <option selected value="any">£ Max Beds</option>
          <option value="any">Any</option>
          <option value="1">1 Bed</option>
          <option value="£60,000">2 Bed</option>
          <option value="£70,000">3 Bed</option>
        </select>
      </div>

  
    <div class="col-12">
      <a type="submit" class="btn  btn-primary submit">SEARCH SEARCH</a>
    </div>
  </form>