{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}


{% block content %}
<div class="overlay pt-4">
    <div class="container-fluid add-product">
        <div class="row first_name_options">
            <div class="col center pt-4">
                <!--Checking if user have first name and Last name if not we show the email address.-->
                <h3>Hi, {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{user.last_name}}
                    {% else %}
                    {{user}}
                    {% endif %}
                </h3>
                <p>Here you can add an property!</p>
            </div>
        </div>



        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_name">Please provide a title *</label>
                            <input class="form-control" type="text" placeholder="Please provide a title" name="name"
                                maxlength="254" required id="id_name">

                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_category">Please select a category *</label>
                            <select class="form-select" aria-label="Please select a category" name="category"
                                id="id_category">
                                <option value="1" selected>Sales</option>
                                <option value="2">Lettings</option>
                                <option value="3">HOLIDAY LETS</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_subcategory">Please select a subcategory *</label>
                            <select class="form-select" aria-label="Please select a subcategory" name="subcategory"
                                id="id_subcategory">
                                <option value="2" selected>Commercial Sales</option>
                                <option value="3">Residential Sales</option>
                                <option value="4">Commercial Lettings</option>
                                <option value="5">Residential Lettings</option>
                                <option value="6">Holiday Lets</option>
                            </select>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col">
                            <label class="text-left" for="id_description">Please provide a description *</label>
                            <textarea class="form-control" name="description" cols="40" rows="10" required
                                id="id_description"></textarea>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_address">Please provide the address *</label>
                            <input type="text" class="form-control" placeholder="Please provide the address:"
                                name="address" maxlength="254" required id="id_address">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_town">Please specify town *</label>
                            <input type="text" class="form-control" name="town" placeholder="Please specify town:"
                                maxlength="254" required id="id_town">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_post_code">Please specify post code *</label>
                            <input type="text" class="form-control" name="post_code"
                                placeholder="Please specify post code:" maxlength="254" required id="id_post_code">
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_price">Please provide a price *</label>
                            <input class="form-control" type="number" name="price" value="0" min="0" required
                                id="id_price">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_period">Period For Price Day, Month etc.</label>
                            <input type="text" class="form-control" name="period" maxlength="254" id="id_period">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_property_type">Property Type</label>
                            <select name="property_type" class="form-select" id="id_property_type">
                                <option value="2" selected>Industrial Units</option>
                                <option value="3">Office Space</option>
                                <option value="4">Storage Space</option>
                                <option value="5">Land</option>
                                <option value="6">Yard Space</option>
                                <option value="7">Terraced House</option>
                                <option value="8">Detached House</option>
                                <option value="9">Semi Detached_house</option>
                                <option value="10">Town House</option>
                                <option value="11">Bungalow</option>
                                <option value="12">Flat</option>
                                <option value="13">Studio</option>
                                <option value="14">Apartment</option>
                                <option value="15">Caravan</option>
                            </select>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_bedroom">Nr of bedrooms</label>
                            <input type="number" class="form-control" name="bedroom" placeholder="0" min="0" required
                                id="id_bedroom">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_bathroom">Nr of bathrooms</label>
                            <input type="number" class="form-control" name="bathroom" placeholder="0" min="0" required
                                id="id_bathroom">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_reception">Nr of receptions</label>
                            <input type="number" class="form-control" name="reception" placeholder="0" min="0" required
                                id="id_reception">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_primary_image">This is primary image</label>
                            <input type="file" class="form-control" name="primary_image" accept="image/*"
                                id="id_primary_image">
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <img class="primary_image" id='primary_image_preview' />
                        </div>
                        <div class="col-12 col-md-4 pt-2">
                            <label class="text-left" for="id_available">Is Available</label>
                            <input type="checkbox" class="form-check-input" value="true" name="available" id="id_available" checked>
                            <label class="text-left" for="id_rented">Is Rented</label>
                            <input type="checkbox" class="form-check-input" value="true" name="rented" id="id_rented">
                            <label class="text-left" for="id_sold">Is Sold</label>
                            <input type="checkbox" class="form-check-input" value="true" name="sold" id="id_sold">
                            <label class="text-left" for="available_from">Is available from</label>
                            <input type="text" class="form-control date" name="available_from" id="id_available_from">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col center">
                            <p>Want to add some extra images? You can add up to 12 images. They are not mandatory but we
                                advise you to add them.</p>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image1">Add extra image 1</label>
                            <input type="file" class="form-control" name="detail_image1" accept="image/*"
                                id="id_detail_image1">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image1_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image2">Add extra image 2</label>
                            <input type="file" class="form-control" name="detail_image2" accept="image/*"
                                id="id_detail_image2">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image2_preview' />
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image3">Add extra image 3</label>
                            <input type="file" class="form-control" name="detail_image3" accept="image/*"
                                id="id_detail_image3">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image3_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image4">Add extra image 4</label>
                            <input type="file" class="form-control" name="detail_image4" accept="image/*"
                                id="id_detail_image4">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image4_preview' />
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image5">Add extra image 5</label>
                            <input type="file" class="form-control" name="detail_image5" accept="image/*"
                                id="id_detail_image5">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image5_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image6">Add extra image 6</label>
                            <input type="file" class="form-control" name="detail_image6" accept="image/*"
                                id="id_detail_image6">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image6_preview' />
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image7">Add extra image 7</label>
                            <input type="file" class="form-control" name="detail_image7" accept="image/*"
                                id="id_detail_image7">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image7_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image8">Add extra image 8</label>
                            <input type="file" class="form-control" name="detail_image8" accept="image/*"
                                id="id_detail_image8">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image8_preview' />
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image9">Add extra image 9</label>
                            <input type="file" class="form-control" name="detail_image9" accept="image/*"
                                id="id_detail_image9">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image9_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image10">Add extra image 10</label>
                            <input type="file" class="form-control" name="detail_image10" accept="image/*"
                                id="id_detail_image10">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image10_preview' />
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image11">Add extra image 11</label>
                            <input type="file" class="form-control" name="detail_image11" accept="image/*"
                                id="id_detail_image11">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image11_preview' />
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <label class="text-left" for="id_detail_image12">Add extra image 12</label>
                            <input type="file" class="form-control" name="detail_image12" accept="image/*"
                                id="id_detail_image12">
                        </div>
                        <div class="col-12 col-md-3 pt-2">
                            <img class="primary_image" id='detail_image12_preview' />
                        </div>
                    </div>

                    <div class="center pt-4">
                        <a class="btn btn-primary col-12 col-md-5 pt-2 add-product-buttons mb-4"
                            href="{% url 'products' %}">Cancel</a>
                        <button type="submit" class="btn btn-primary col-12 col-md-5 pt-2 add-product-buttons mb-4">Add
                            Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'store/js/store.js' %}"></script>
{% endblock %}