:root {
    --primary-color: #cd994f;
    --nav-background: rgba(0, 40, 64, 0.15);
    --primary-text: white;
    --forms-shadow: rgba(0, 40, 64, 0.5);
    --buttons-text: #120909;
}

html {
    height: 100%;
}

body {
    background: url('/static/img/pexels-binyamin-mellish-186078.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

header,
nav {
    background-color: var(--nav-background);
}

.display-none {
    display: none !important;
}

#search-button,
#account-button,
#login-button-desktop,
#search-button-desktop {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid var(--primary-text);
}

#navbarSupportedContent ul li a {
    color: var(--primary-text);
}

#loginSidebar,
.nav-canava-colapsed,
#bookValuation,
#searchSidebar {
    border: var(--primary-color) 2px solid;
    border-radius: 25px;
}

.second-nav {
    background-color: var(--primary-color) !important;
    color: var(--primary-text) !important;
}

.second-nav ul li a {
    color: var(--primary-text) !important;
}

.nav-mobile-canava {
    text-align: center;
}

.nav-mobile-canava ul li a {
    color: var(--primary-color) !important;
}

#menu-hr {
    border: 5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.btn-contact,
.btn-book-evaluation {
    background-color: var(--primary-color) !important;
    color: var(--primary-text) !important;
}

.link-unstiled {
    color: var(--primary-color);
    text-decoration: none;
}

.center {
    text-align: center;
}

#pills-login-tab.active,
#pills-register-tab.active,
#pills-selling-tab.active,
#pills-letting-tab.active {
    background-color: var(--primary-color) !important;
    color: var(--primary-text) !important;
}

#pills-login-tab,
#pills-register-tab,
#pills-selling-tab,
#pills-letting-tab {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

#pills-register p,
#pills-login p {
    color: var(--primary-color);
}

.welcome {
    padding-top: 10vh;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.welcome h1 {
    color: var(--primary-text);
}

.padding-top {
    padding-top: 3vh;
}

/*
This is the color of close button. To manipulate search for fill: and change
%23 -meanig '#' and : cd994f your prefered HEX color
*/
.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cd994f'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.register-button,
.login-button,
.forgot-button {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--buttons-text)
}

.register-button:hover,
.login-button:hover,
.forgot-button:hover {
    color: var(--primary-text) !important;
}

#signup_form {
    color: var(--primary-color) !important;
}

#signup_form input {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

#signup_form input:focus {
    border: 2px solid var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

.forgot-button,
.register-button {
    margin-top: 10px;
}

.login-container {
    background-color: var(--forms-shadow);
    margin-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 25px;
}

.login-container h1,
.login-container label {
    color: var(--primary-text)
}