<div class="container col-md-10 pt-4 search-base">
    <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-sales-tab" data-bs-toggle="pill" data-bs-target="#pills-sales"
                type="button" role="tab" aria-controls="pills-sales" aria-selected="true">SALES</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-lettings-tab" data-bs-toggle="pill" data-bs-target="#pills-lettings"
                type="button" role="tab" aria-controls="pills-lettings" aria-selected="false">LETTINGS</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-holiday-lets-tab" data-bs-toggle="pill"
                data-bs-target="#pills-holiday-lets" type="button" role="tab" aria-controls="pills-holiday-lets"
                aria-selected="false">HOLIDAY LETS</button>
        </li>
    </ul>
    <div class="tab-content center">
        <div class="tab-pane fade show active" id="pills-sales" role="tabpanel" aria-labelledby="pills-sales-tab">
            {% include 'includes/sales-search-form.html' %}

        </div>
        <div class="tab-pane fade" id="pills-lettings" role="tabpanel" aria-labelledby="pills-lettings-tab">
            <p class="center pt-3">LETTINGS search form</p>

        </div>
        <div class="tab-pane fade" id="pills-holiday-lets" role="tabpanel" aria-labelledby="pills-holiday-lets-tab">
            <p class="center pt-3">HOLIDAY LETS search form</p>

        </div>
    </div>
</div>