<div class="offcanvas offcanvas-end" tabindex="-1" id="bookValuation" aria-labelledby="book-valuation">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-selling-tab" data-bs-toggle="pill" data-bs-target="#pills-selling"
                    type="button" role="tab" aria-controls="pills-selling" aria-selected="true">Selling</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-letting-tab" data-bs-toggle="pill" data-bs-target="#pills-letting"
                    type="button" role="tab" aria-controls="pills-letting" aria-selected="false">Letting</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-selling" role="tabpanel" aria-labelledby="pills-selling-tab">Selling Form
            </div>
            <div class="tab-pane fade" id="pills-letting" role="tabpanel" aria-labelledby="pills-letting-tab">Letting Form</div>
        </div>


    </div>
</div>