<div class="collapse navbar-collapse justify-content-center d-none d-lg-flex" id="navbarSupportedContent">
    <ul class="navbar-nav list-unstyled">
        <li class="nav-item">
            <a class="nav-link" href="tel:555-555-5555"><i class="fa-solid fa-mobile-screen-button"></i> 555-555-5555</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="verticalLine">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tel:555-555-6666"><i class="fa-solid fa-phone"></i> 555-555-6666</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:admin@zaivlife.com"><i class="fa-regular fa-envelope"></i> admin@zaivlife.com</a>
        </li>
    </ul>
</div>