<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav list-unstyled">
        <li class="nav-item">
            <a class="nav-link" href="tel:555-555-5555">555-555-5555</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="verticalLine">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tel:555-555-6666">555-555-6666</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:admin@zaivlife.com">admin@zaivlife.com</a>
        </li>
    </ul>
</div>