<ul class="navbar-nav me-auto mb-2 mb-lg-0  d-none d-lg-flex">
    <li class="nav-item">
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchSidebar"
            aria-controls="searchSidebar" id="search-button-desktop"><i class="fa-solid fa-magnifying-glass"></i></button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#loginSidebar" aria-controls="loginSidebar" id="login-button-desktop"><i
                class="fa-regular fa-user"></i></button>
    </li>
</ul>