<div class="offcanvas offcanvas-end nav-canava-colapsed" tabindex="-1" id="mobileNav" aria-labelledby="mobileNav">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="navbar navbar-light bg-light justify-content-center  nav-mobile-canava">
            <ul class="navbar-nav list-unstyled flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buying</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Selling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Auction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Landlords</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tenants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Building Works</a>
                </li>
            </ul>
        </nav>
        <hr id="menu-hr">
        <div class="d-grid gap-2 col-12 mx-auto">
            <button class="btn btn-contact" type="button">Contact Us</button>
        </div>

        <div class="row  align-items-center">
            <div class="col-5">
                <a class="nav-link center link-unstiled" href="tel:555-555-5555">555-555-5555</a>
            </div>
            <div class="col-2">
                <a class="nav-link center link-unstiled verticalLine" href="#">|</a>
            </div>
            <div class="col-5">
                <a class="nav-link center link-unstiled" href="tel:555-555-5555">555-555-5555</a>
            </div>
        </div>

        <div class="row  align-items-center center">
            <div class="col">
                <a class="nav-link center link-unstiled" href="mailto:admin@zaivlife.com"><i
                        class="fa-regular fa-envelope"></i>
                    admin@zaivlife.com</a>
            </div>
        </div>

    </div>
</div>