<nav class="navbar navbar-expand-lg navbar-light bg-light  d-none d-lg-flex second-nav">
    <div class="container-fluid justify-content-center">
        <ul class="navbar-nav list-unstyled">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=sales">Buying</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Selling</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Auction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Landlords</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tenants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Building Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>