{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-md reset-container col-md-8 col-sm-12 center text-white mt-4 mb-4">
    <div class="row">
        <div class="col">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container-md reset-container col-md-8 col-sm-12 center text-white mt-4 mb-4 mt-4 pt-4">
    <div class="row">
        <div class="col">
            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                you to reset it.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <input type="email" class="form-control mb-4" name="email" placeholder="E-mail address"
                    autocomplete="email" required id="id_email">
                <button type="submit" class="btn btn-primary col-12 login-button pt-2 mb-4">{% trans 'Reset My Password'%}</button>
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}